<!DOCTYPE html>
<html>
<head>
    <title>Lista de Tareas</title>
</head>
<body>
    <h1>Lista de Tareas</h1>
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Completado</th>
            </tr>
        </thead>
        <tbody>
            {% for tarea in tareas %}
            <tr>
                <td>{{ tarea.titulo }}</td>
                <td>{{ tarea.completado }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
